@media (max-width: 768px) {
  /* NAVBAR */
  .navbar a {
    padding: 8px 10px;
    font-size: 0.6em;
  }
  /* HOME */
  .home {
    font-size: 1em;
  }
  .home p,a {
    font-size: 1em;
  }
  /* TODO: add close-in of image */
  /* CV */
  .container_cv {
    width: 350px;
  }
  .container_cv p,a {
    font-size: 1em;
  }
  /* PROJECTS */
  .container_projects h3 {
    font-size: 1em;
  }
  .container_projects p {
    font-size: 0.7em;
  }
  /* FUTURE_TODO: fix zooming layout */
  .aligned_at_start {
    flex-wrap: wrap;
  }
  /* PROJECTS */
  /* FIX: redundant size rules */
  .container_projects div {
    width: 350px;
    height: 200px;
    margin-bottom: 140px;
    margin-right: 0px;
  }
  .container_project {
    width: 350px;
    height: 200px;
  }
  /* DEV */
  .container_dev{
    flex-direction: column;
    align-items: center;
  }
  /* BLOG */
  .blog_post h1 { font-size: 1em;}
  .blog_post h2 { font-size: 0.8em;}
  .blog_post {
    width: 340px;
  }
  .blog_post p,a {
    line-height: 1.4;
    font-size: 16q;
  }
  .toc h2 { font-size: 0.8em;}
  .toc p {
    font-size: 0.7em;
  }
  .toc a {
    font-size: 0.7em;
    line-height: 1.4;
  }
  /* RECOMMENDED */
  .container_recommended_root {
    flex-direction: column;
    align-items: center;
  }
  .container_recommended {
    width: 350px;
  }
  /* TODO: LP */
}
