* {
  box-sizing: border-box;
  font: Cantarell;
}

body {
  font-family: Cantarell;
  margin: 0;
  background: #282c34;
}

a {
  color: #5cb3fa;
  text-decoration: none;
}
a:visited { color: #FFFFFF; }
a:hover { color: #eb6772; }
a:active { color: #9acc76; }
blockquote {
  font-style: italic;
  margin: 1em 0;
  padding-left: 20px;
  border-left: 2px solid #ccc;
}


.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aligned_at_start {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.pad-20 {
  padding: 20px;
}
.margin-20 {
  margin: 20px;
}
.text-white {
  color: #FFFFFF;
  font-size: 20q;
}


.navbar {
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  overflow: hidden;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #21252B;
  z-index: 10;
}
.navbar a {
  display: inline-block;
  color: #FFFFFF;
  padding: 14px 20px;
}
.navbar a:hover {
  background-color: #282c34;
  color: #FFFFFF;
}
.navbar a.active {
  background-color: #282c34;
  color: #FFFFFF;
}


.content {
  display: flex;
  align-items: center;
  justify-content: center;
  -ms-flex: 100%; /* IE10 */
  flex: 100%;
  padding: 20px;
}


.blog_post p {
  line-height: 1.6;
  font-size: 22q;
}
.toc {
  min-width: 300px;
  max-width: 700px;
}
.toc h2 {
  font-size: 1.5em;
  color: #5cb3fa;
}
.toc a {
  line-height: 1.6;
}


.icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg); /* Invert the color from black (default) to white */
}


.container a {
  display: block;
  margin-bottom: 10px;
}
.container ul {
  padding-bottom: 10px;
}


.container_cv {
  width: 600px;
}
.container_skills {
  display: flex;
  flex-wrap: wrap;
}
.container_skill {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: default;
}
.container_skill_level {
  position: relative; 
  bottom: -8px; 
  right: -2px; 
  
  font-size: 10px; 
  color: #000000; 
  font-family: 'Segoe UI', Verdana, Helvetica, sans-serif; 
  
  background: #FFFFFF;
  padding: 2px; 
  border-radius: 10px; 
}
.container_skill a,p {
  color: #FFFFFF;
  font-size: 20q;
}


.container_projects {
  display: flex;
  flex-wrap: wrap;
}
.container_projects div {
  width: 500px;
  height: 300px;
  margin-bottom: 140px;
  margin-right: 20px;
}
.container_project {
  width: 500px;
  height: 300px;
  border-radius: 15px;
}


.container_recommended_root {
  display: flex;
  align-items: flex-start;
}
.container_recommended {
  max-width: 500px;
  width: 400px;
  word-wrap: break-word;
}
.container_recommended_title {
  height: 40px;
  border-bottom: 1px solid #FFFFFF;
}


.container_tags {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}
.container_tag {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  padding: 5px;
  background: #2C3036;
}
.container_tags p {
  font-size: 16q;
}


.container_dev {
  display: flex; 
  align-items: start; 
  justify-content: center;
}


.course {
  background: #21252B;
  padding: 20px;
  width: 500px;
  margin-top: 50px;
  border-radius: 5px;
  cursor: default;
}
.course_title {
  margin-bottom: 30px;
  width: 500px;
  height: 50px;
  background: #21252B;
  border-radius: 5px;
}
.topic {
  background: #21252B;
  height: 30px;
  border-radius: 5px;
  cursor: default;
}


.dashboard_section {
  background: #21252B; 
  color: white;
  
  padding-top: 5px; 
  padding-left: 20px; 
  padding-right: 20px; 
  padding-bottom: 20px; 
  
  margin-top: 20px; 
  margin-bottom: 20px; 
  margin-left: 10px; 
  margin-right: 10px; 
  
  width: 260px; 
  height: 910px;
  
  border-radius: 5px;
}


.footer {
  padding: 20px;
  text-align: center;
  background: #21252B;
}
