* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #282c34;
}

a {
  color: #5cb3fa;
  text-decoration: none;
}
a:visited { color: #cd74e8; }
a:hover { color: #eb6772; }
a:active { color: #9acc76; }


/* FIX: excess padding/margin between <a> elements */
.navbar {
  top: 0;
  display: flex;
  justify-content: center;
  position: sticky;
  overflow: hidden;
  text-align: center;
  position: -webkit-sticky;
  background-color: #21252B;
}
.navbar a {
  display: inline-block;
  color: #FFFFFF;
  padding: 14px 20px;
}
.navbar a:hover {
  background-color: #282c34;
  color: #FFFFFF;
}
.navbar a.active {
  background-color: #282c34;
  color: #FFFFFF;
}


.content {
  display: flex;
  align-items: center;
  justify-content: center;
  -ms-flex: 100%; /* IE10 */
  flex: 100%;
  padding: 20px;
}


.container a {
  display: block;
  margin-bottom: 20px;
}


.container_skills {
  display: flex;
  flex-wrap: wrap;
}
.container_skill {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.container_skill p {
  color: #FFFFFF;
  font-size: 20q;
}


.container_projects {}
.container_projects div {
  width: 500px;
  height: 300px;
  margin-bottom: 20px;
  margin-right: 20px;
  /* background: #818791; */
  /* border-radius: 15px; */
}
.container_project {
  width: 500px;
  height: 300px;
  border-radius: 15px;
}


.container_recommended {
  max-width: 500px;
  word-wrap: break-word;
}


.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}


.pad-20 {
  padding: 20px;
}
.pad-40 {
  padding: 40px;
}


.margin-20 {
  margin: 20px;
}


.text-white {
  color: #FFFFFF;
  font-size: 20q;
}
.text-blue {
    color: #5cb3fa;
}
.text-green {
    color: #9acc76;
}


.footer {
  padding: 20px;
  text-align: center;
  background: #21252B;
}

/* Dynamic Design */
@media screen and (max-width: 400px) {
  /* TODO: add missing elements */
  .navbar a {
    float: none;
    width: 100%;
  }
}
