<!-- FOOTER -->
  <footer style="display: flex; align-items: center; justify-content: center; padding: 10px;">
    <!-- TODO: add copyright disclaimer -->
    <!-- <p style="font-size: 1em;">© 2025 Raffaele Orabona all rights reserved.</p> -->
    <!-- SPACER -->
    <!-- <div style="width: 20px;"></div> -->
    <!-- BRAINMADE MARK -->
    <a href="https://brainmade.org/" target="_blank"><img src="../assets/brainmade-logo-white.svg" alt="brainmade" style="width: 100px;"></a>
    <!-- SPACER -->
    <div style="width: 20px;"></div>
    <!-- RSS FEED -->
    <a href="../../feed.xml"><img src="../assets/rss-svgrepo-com.svg" alt="rss-svgrepo-com" style="width:20px;"></a>
  </footer>
