<!DOCTYPE html>
<html>
  
  <!-- HEADER -->
  <head>
    <title>Raffaele Orabona</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Icon -->
    <!-- <link rel="icon" href="./assets/icon-white.svg" type="image/x-icon" /> -->
    <!-- CSS -->
    <link rel="stylesheet" href="../../style/style.css"></link>
    <link rel="stylesheet" href="../../style/mobile_friendly.css"></link>
    <!-- Javascript -->
    <script src="../../lib/main.js"></script>
  </head>
  
  <body>
    
    <style>
      h1 {
        font-size: 1.8rem;
      }
      h2 {
        color: #5cb3fa;
      }
      li {
        color: white;
        line-height: 1.6;
        font-size: 1rem;
      }
    </style>
    
    <!-- NAVBAR -->
    <div class="navbar text-white">
      <a href="../../index.html">Home</a>
      <a href="../../pages/cv.html">CV</a>
      <a href="../../pages/projects.html">Projects</a>
      <a href="../../pages/blog.html" class="active" >Blog</a>
      <a href="../../pages/recommended.html">Recommended</a>
    </div>
    
    __TABLE_OF_CONTENTS_STYLE__
    
    <br>
    <h1 style="color: #9acc76; text-align: center;">$title$</h1>
    <p id="pubdate" style="font-style: italic; text-align: center;">$date$</p>
    <br>
    
    __TABLE_OF_CONTENTS__
    
    <div class="centered text-white">
    	<div class="blog_post">
        
    	  $body$
    	  
    	</div>
    </div>

    <br>
    
    <!-- FOOTER -->
  <footer style="display: flex; align-items: center; justify-content: center; padding: 10px;">
    <!-- TODO: add copyright disclaimer -->
    <!-- <p style="font-size: 1em;">© 2025 Raffaele Orabona all rights reserved.</p> -->
    <!-- SPACER -->
    <!-- <div style="width: 20px;"></div> -->
    <!-- BRAINMADE MARK -->
    <a href="https://brainmade.org/" target="_blank"><img src="../../assets/brainmade-logo-white.svg" alt="brainmade" style="width: 100px;"></a>
    <!-- SPACER -->
    <div style="width: 20px;"></div>
    <!-- RSS FEED -->
    <a href="../feed.xml"><img src="../../assets/rss.svg" alt="rss" style="width:20px; fill: #FFFFFF;"></a>
  </footer>
    
  </body>
  
</html>
