.code {
  width: 700px;
  background: #21252B;
  border-radius: 10px;
  padding-left: 30px;
  font-family: monospace;
  white-space: pre-line;
  line-height: 1.5;
}

.copy_button {
  position: absolute;
  top: 0;
  right: 0;
  background: #21252B;
  color: #FFFFFF;
  border: none;
  width: 60px;
  padding: 6px;
  border-radius: 10px;
  transition: transform 0.1s, background-color 0.1s;
}

.copy_button:active {
  transform: scale(0.90); /* Slightly shrinks the button */
  background-color: #282C34; /* Changes color on press */
}
