@media (max-width: 768px) {
  
  .navbar a {
    padding: 8px 10px;
    font-size: 0.6rem;
  }
  
  
  .home p { font-size: 0.8rem; }
  .home a { font-size: 0.8rem; }
  .home b { font-size: 0.8rem; }
  
  
  .container_cv { width: 350px; }
  .container_cv p { font-size: 0.8rem; }
  .container_cv a { font-size: 0.8rem; }
  
  
  .container_projects h3 { font-size: 1.0rem; }
  .container_projects p { font-size: 0.7rem; }
  /* FIX: redundant size rules */
  .container_projects div {
    width: 350px;
    height: 200px;
    margin-bottom: 140px;
    margin-right: 0px;
  }
  .container_project {
    width: 350px;
    height: 200px;
  }
  
  
  /* FUTURE_TODO: fix zooming layout */
  .aligned_at_start { flex-wrap: wrap; }
  
  
  .container_dev{
    flex-direction: column;
    align-items: center;
  }
  
  
  .blog_post { width: 340px; }
  .blog_post h1 { font-size: 1.3rem;}
  .blog_post h2 { font-size: 1rem;}
  .blog_post p,a {
    line-height: 1.5;
    font-size: 0.8rem;
  }
  
  .toc h2 { font-size: 1rem;}
  .toc p { font-size: 0.8rem; }
  .toc a {
    line-height: 1.5;
    font-size: 0.8rem;
  }
  
  
  .container_recommended_root {
    flex-direction: column;
    align-items: center;
  }
  .container_recommended { width: 350px; }
  
}
