<!DOCTYPE html>
<html>
  
  __HEAD3__
  
  <body>
    
    <style>
      h1 {
        font-size: 1.8rem;
      }
      h2 {
        color: #5cb3fa;
      }
      li {
        color: white;
        line-height: 1.6;
        font-size: 1rem;
      }
    </style>
    
    __NAVBAR_POST__
    
    __TABLE_OF_CONTENTS_STYLE__
    
    <br>
    <h1 style="color: #9acc76; text-align: center;">$title$</h1>
    <p id="pubdate" style="font-style: italic; text-align: center;">$date$</p>
    <br>
    
    __TABLE_OF_CONTENTS__
    
    <div class="centered text-white">
    	<div class="blog_post">
        
    	  $body$
    	  
    	</div>
    </div>

    <br>
    
    __FOOTER3__
    
  </body>
  
</html>
